<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Dashboard</title>
		<link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{ url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
		<link href="{{ url_for('static',filename='css/dataTables.bootstrap4.css')}}" rel="stylesheet">
		<link href="{{ url_for('static',filename='css/sb-admin.css')}}" rel="stylesheet">
		<link href="{{ url_for('static',filename='css/openfisca_view.css')}}" rel="stylesheet">


		<!--	<link href="https://highlightjs.org/static/demo/styles/tomorrow-night-eighties.css" rel="stylesheet"> --!>
	</head>

	<body class="fixed-nav sticky-footer bg-dark" id="page-top">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
			<a class="navbar-brand" href="index.html">Clic' Droits</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
						<a class="nav-link" href="index.html">
							<i class="fa fa-fw fa-dashboard"></i>
							<span class="nav-link-text">Tableau de bord</span>
						</a>
					</li>
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
						<a class="nav-link" href="charts.html">
							<i class="fa fa-fw fa-area-chart"></i>
							<span class="nav-link-text">Graphique / Stats</span>
						</a>
					</li>
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
						<a class="nav-link" href="tables.html">
							<i class="fa fa-fw fa-table"></i>
							<span class="nav-link-text">Tables SQL</span>
						</a>
					</li>
					<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
						<a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
							<i class="fa fa-fw fa-wrench"></i>
							<span class="nav-link-text">Outils</span>
						</a>
						<ul class="sidenav-second-level collapse" id="collapseComponents">
							<li>
								<a href="navbar.html">Outils1</a>
							</li>
							<li>
								<a href="cards.html">Outils2</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="navbar-nav sidenav-toggler">
					<li class="nav-item">
						<a class="nav-link text-center" id="sidenavToggler">
							<i class="fa fa-fw fa-angle-left"></i>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-fw fa-bell"></i>
							<span class="d-lg-none">Alerts
								<span class="badge badge-pill badge-warning">6 New</span>
							</span>
							<span class="indicator text-warning d-none d-lg-block">
								<i class="fa fa-fw fa-circle"></i>
							</span>
						</a>
						<div class="dropdown-menu" aria-labelledby="alertsDropdown">
							<h6 class="dropdown-header">New Alerts:</h6>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">
								<span class="text-success">
									<strong>
										<i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
								</span>
								<span class="small float-right text-muted">11:21 AM</span>
								<div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">
								<span class="text-danger">
									<strong>
										<i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
								</span>
								<span class="small float-right text-muted">11:21 AM</span>
								<div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">
								<span class="text-success">
									<strong>
										<i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
								</span>
								<span class="small float-right text-muted">11:21 AM</span>
								<div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
							</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item small" href="#">View all alerts</a>
						</div>
					</li>
					<li class="nav-item">
						<form class="form-inline my-2 my-lg-0 mr-lg-2">
							<div class="input-group">
								<input class="form-control" type="text" placeholder="Search for...">
								<span class="input-group-append">
									<button class="btn btn-primary" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div>
						</form>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="modal" data-target="#exampleModal">
							<i class="fa fa-fw fa-sign-out"></i>Logout</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="content-wrapper">
			<div class="container-fluid">
				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="#">Dashboard</a>
					</li>
					<li class="breadcrumb-item active">My Dashboard</li>
				</ol>
				<!-- Icon Cards-->
				<div class="row">
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-warning o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fa fa-fw fa-list"></i>
								</div>
								<div class="mr-5">11 New Tasks!</div>
							</div>
							<a class="card-footer text-white clearfix small z-1" href="#">
								<span class="float-left">View Details</span>
								<span class="float-right">
									<i class="fa fa-angle-right"></i>
								</span>
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-danger o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fa fa-fw fa-support"></i>
								</div>
								<div class="mr-5">13 New Tickets!</div>
							</div>
							<a class="card-footer text-white clearfix small z-1" href="#">
								<span class="float-left">View Details</span>
								<span class="float-right">
									<i class="fa fa-angle-right"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
				<!-- Area Chart Example-->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fa fa-area-chart"></i>Diagramme de dependence Socio-fiscal de l'aide</div>
					<div class="card-body" id="svg_loc">
					</div>
					<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<!-- Example Bar Chart Card-->
						<div class="card mb-3">
							<div class="card-header">
								<i class="fa fa-bar-chart"></i>Information supplementaire sur la variable selectionner</div>
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3 center_box">
										<strong>Id :</strong>
									</div>
									<div class="col-sm-9 center_box" id='selected_id'>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-3 center_box">
										<strong>Description</strong>
									</div>
									<div class="col-sm-9 center_box" id='selected_description'>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-3 center_box">
										<strong>Periode :</strong>
									</div>
									<div class="col-sm-9 center_box" id='selected_period'>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-3 center_box">
										<strong>Entity:</strong>
									</div>
									<div class="col-sm-9 center_box" id='selected_entity'>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-3 center_box">
										<strong>Type :</strong>
									</div>
									<div class="col-sm-9 center_box" id='selected_valueType'>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3 center_box">
										<strong>Period enfants :</strong>
									</div>
									<div class="col-sm-9 center_box" id='selected_child_period'>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-3 center_box">
										<strong>Formule de calcule utiliser :</strong>
									</div>
									<div class="col-sm-9">
										<pre><code class="hljs python" id="selected_formula"></code></pre>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3 center_box">
										<strong>Requete SQL pour localiser la variable :</strong>
									</div>
									<div class="col-sm-8 center_box" id='selected_sql'>
										<input class="form-control" type="text" value="SELECT * from FNIRmmaa | a constant value" id="example-text-input">
									</div>
									<div class="col-sm-1 center_box" id='selected_sql'>
										<button type="button" class="btn btn-success" id="btn_val">Validerr</button>
									</div>
								</div>
							</div>
							<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
						</div>
					</div>
				</div>
						<!-- Card Columns Example Social Feed-->
						<div class="mb-0 mt-4">
							<i class="fa fa-newspaper-o"></i>Dev2dev</div>
						<hr class="mt-2">
					</div>
					<!-- Example DataTables Card-->
					<div class="card mb-3">
						<div class="card-header">
							<i class="fa fa-table"></i> Data Table Example</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="mytable"  width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Name</th>
											<th>Description</th>
											<th>Children</th>
											<th>Entity</th>
											<th>Type</th>
											<th>Nb enfant</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>Name</th>
											<th>Description</th>
											<th>Children</th>
											<th>Entity</th>
											<th>Type</th>
											<th>Nb enfant</th>
										</tr>
									</tfoot>
									<tbody>
										{% for v in variables %}
										{% set c = v.children.split(':') %}
										<tr>
											<td>{{ v.name }}</td>
											<td>{{ v.description }}</td>
											<td>
												{% for child in c %}
												{% if loop.index <= 3 %}
												 {{child}}<br/>
												{% endif %}
												{% endfor %}
											</td>
											<td>{{ v.entity }}</td>
											<td>{{ v.valueType}}</td>
											<td id="nb_child_{{v.name}}">
												{% if c|length >= 1 and c[0] != ''%}
													{{c|length}}
												{% else %}0{% endif %}
											
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
					</div>
				</div>
				<!-- /.container-fluid-->
				<!-- /.content-wrapper-->
				<footer class="sticky-footer">
					<div class="container">
						<div class="text-center">
							<small>Copyright © Your Website 2018</small>
						</div>
					</div>
				</footer>
				<!-- Scroll to Top Button-->
				<a class="scroll-to-top rounded" href="#page-top">
					<i class="fa fa-angle-up"></i>
				</a>
				<!-- Logout Modal-->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
								<button class="close" type="button" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
							</div>
							<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
							<div class="modal-footer">
								<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
								<a class="btn btn-primary" href="login.html">Logout</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Bootstrap core JavaScript-->
				<script src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
				<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
				<script src="{{ url_for('static',filename='js/jquery.easing.min.js')}}"></script>
				<script src="{{ url_for('static',filename='js/Chart.min.js')}}"></script>
				<script src="{{ url_for('static',filename='js/jquery.dataTables.js')}}"></script>
				<script src="{{ url_for('static',filename='js/dataTables.bootstrap4.js')}}"></script>

				<script src="{{ url_for('static',filename='js/sb-admin.min.js')}}"></script>
				<script src="{{ url_for('static',filename='js/sb-admin-datatables.min.js')}}"></script>
				<script src="{{ url_for('static',filename='js/highlight.pack.js')}}"></script>
				<script src="https://d3js.org/d3.v3.min.js"></script>

				<!-- highlightjs !-->
				<!--- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script> -->


				<script src="{{ url_for('static',filename='js/Datareader.js')}}"></script>
				<script src="{{ url_for('static',filename='js/build_json.js')}}"></script>
				<script src="{{ url_for('static',filename='js/node_tool.js')}}"></script>
				<script src="{{ url_for('static',filename='js/openfisca_view.js')}}"></script>
			</div>
			<div id="aide">{{aide}}
			</div>
			<div class="cont" style="display:none"></div>
	</body>

</html>
