.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 14px sans-serif;
  font-weight: 900;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#svg_loc {
	max-height: 600px;
	overflow: scroll;
}

.center_box{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

.hljs-period {
	color: #d40000;
}
